{% extends 'baseStore.html.twig' %}

{% block body %}
    <div class="container">
        <h3 class="h3">Paragliding</h3>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 col-sm-6">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="{{ path('SkyStore_show', { 'id': product.id }) }}">
                            <img class="pic-1" style="width: 250px; height: 110px" src="{{ product.imageUrl|raw }}" >
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">{{ product.productName }}</a></h3>
                        <div class="price">€{{ product.price }}
                            {#<span>$14.00</span>#}
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="glyphicon glyphicon-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="glyphicon glyphicon-briefcase"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
{% endblock %}
