{% extends 'base.html.twig' %}

{% block main %}

    <form name="authenticate" action="{{ path('security_login') }}" method="post">
        Email: <label>
            <input type="text" name="_username">
        </label><br>
        Password: <label>
            <input type="password" name="_password">
        </label><br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="submit" value="Login">
    </form>

{% endblock %}